body {
  margin: 0; /* Reset default margin */
  font-family: Arial, sans-serif; /* Set a default font family for the body */
}

.header {
  height: 50px; /* Set the height of the header */
  background: linear-gradient(
    101.37deg,
    #f3c6f1 29.63%,
    #ffcfd1 33.33%,
    #ffe1bc 90.85%
  ); /* Set the background color of the header */
  color: firebrick;
  font-size: 30px;
  font-family: 'Courier-Bold';
  border: 5px solid rgb(238, 145, 111);
  padding-bottom: 5px;
  text-align: center;
  position: fixed; /* Fixed position to keep the header at the top */
  width: 99%; /* Set the width to 100% of the viewport */
  z-index: 1; /* Set a higher z-index to keep the header on top of other elements */
  display: flex; /* Use flexbox layout */
  align-items: center; /* Vertically center the content within the header */
  justify-content: center; /* Horizontally center the content within the header */
}


.rowHeader {
  color: #d30cc9;
  font-weight: bold;
  font-size: 35px;
  font-family: 'Courier-Bold';
  justify-self: center;
  text-align: center;
  border: 10px solid rgb(207, 62, 62); /* Add a border to the cards */
  background-color:lightblue;
  border-radius: 25px;
}

.row.expanded {
  font-size: 35px;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column; /* Set the direction to column to stack rows vertically */
  justify-content: space-between; /* Distribute space evenly between rows */
  padding: 70px 20px 20px 20px; /* Add padding to the top of the container to offset the header height */
  box-sizing: border-box; /* Include padding and borders in the element's total width and height */
  height: 100vh; /* Set the container height to 100% of the viewport height */
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
  transition: height 0.3s ease-in-out;
}

.card {
  width: 500px; /* Set the width of each card */
  height: 825px; /* Set the height of each card */
  border: 10px solid #ccc; /* Add a border to the cards */
  border-bottom-color: red;
  border-left-color: orangered;
  border-right-color: orangered;
  border-top-color: orange;
  margin: 10px; /* Add margin around each card if needed */
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5px 5px 5px 5px;
  border-radius: 25px;
  font-variant: small-caps;
  background-color: lightblue;
}

.iceCard {
  width: 500px; /* Set the width of each card */
  height: 300; /* Set the height of each card */
  border: 10px solid #ccc; /* Add a border to the cards */
  border-bottom-color: darkblue;
  border-left-color: blue;
  border-right-color: blue;
  border-top-color: cyan;
  margin: 10px; /* Add margin around each card if needed */
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5px 5px 5px 5px;
  border-radius: 25px;
  font-variant: small-caps;
  background-color: lightblue;
}

.name {
  margin-top: 0;
  font-size: 44px;
  margin-bottom: 0;
}

.bestStat {
  font-size: 38px;
  white-space: nowrap;
  margin-bottom: 5px;
}

.decentStat {
  font-size: 32px;
  white-space: nowrap;
  margin-top: 5px;
  margin-bottom: 5px;
}

.worstStat {
  font-size: 24px;
  white-space: nowrap;
  margin-top: 5px;
}

.gameTime {
  font-size: 24px;
  white-space: nowrap;
  margin-top: 0;
}

.gameScore {
  font-size: 32px;
  margin-top: 0;
}

.gameScoreContainer {
  border: 3px solid black;
  width: 75px;
  height: 40px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}


.gameTimeContainer {
  border: 3px solid green;
  width: 150px;
  height: 30px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.logo {
  height: 50px;
  width: 50px;
  padding-bottom: 15px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.gameContainer {
  width: 250px; /* Set the width of each card */
  height: 300px; /* Set the height of each card */
  border: 5px solid #ccc;
  background-color: white;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  padding-top: 2.5px;
  border-bottom-color: darkgreen;
  border-left-color: darkgreen;
  border-right-color:darkgreen;
  border-top-color: darkgreen;
  padding-bottom: 20px;
}


.statContainer {
  width: 250px; /* Set the width of each card */
  height: 200px; /* Set the height of each card */
  border: 5px solid #ccc;
  background-color: white;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  padding-top: 2.5px;
  border-bottom-color: darkblue;
  border-left-color: darkblue;
  border-right-color:darkblue;
  border-top-color: darkblue;
  margin-bottom: 20px;
}

.infoContainer {
  width: 300px; /* Set the width of each card */
  height: 175px; /* Set the height of each card */
  border: 5px solid #ccc;
  background-color: white;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  padding-top: 2.5px;
  border-bottom-color: darkorange;
  border-left-color: darkorange;
  border-right-color:darkorange;
  border-top-color: darkorange;
  margin-bottom: 20px;
}


/* Include Font Awesome CSS for the fire icon */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
